<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MM FILMS</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <nav>

    </nav>
    <header>
       <div class="container-1">
        <h1> M M  FILMS </h1>
        <h2> Publica tu reseña </h2>
        <h3>
            ver peliculas series y mucho mas !!
        </h3>
    

       </div>


    </header>
    <div class="container-2">
        <div class="card-1-container">
       <div class="cards">
        <img src="./assets/bettercallsaul.jpg" alt="">
       </div>
       <div class="cards">
        <img src="./assets/Gravity.jpg" alt="">
       </div>
       <div class="cards">
        <img src="./assets/dunkerke.jpg" alt="">
       </div>
       <div class="cards">
        <img src="./assets/HD-wallpaper-peaky-blinders-casaco-serie-pe.jpg" alt="">
       </div>
    </div>
    <div class="card-2-container">
       <div class="cards">
        <img src="./assets/midsomar.jpg" alt="">
       </div>
       <div class="cards">
        <img src="./assets/No_Country_for_Old_Men_poster.jpg" alt="">
       </div>
       <div class="cards">
        <img src="./assets/Parasite.jpg" alt="">
       </div>
       <div class="cards">
        <img src="./assets/the_departedjpg.jpg" alt="">
       </div>
    </div>
   </div>

    <div class="inicio">
        <button><a href="">INICIAR SECION</a></button>
        <button><a href="">REGISTRATE</a></button>
      </div>
      

    
     
</body>
</html>